#text-container {
  width: 80%;
  float: left;
  margin-left: 2em;
}

.section {
  word-wrap: break-word;
  height: auto;
  overflow: auto;
}
a {
  color: #555;
}

@media screen and (max-width: 1200px) {
  img {
    display: none;
  }

  p {
    width: calc(100% - 2em) !important;
  }

  .img-container {
    display: none;
  }
}
